*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
a{
    text-decoration: none;
}
h2{
    font-family: Arial, sans-serif;
    margin: 0;
}
.loginForm {
    margin: 10px auto;
    width: 450px;
    border: 2px solid #bbbfbf;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.loginInput {
    padding: 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.loginSubmit {
    width: 83%;
    padding: 10px;
    background-color: #007cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteLink{
    border: none;
    background:transparent;
    color: #007cff;
}

.loginSubmit:hover {
    filter: brightness(80%);
}

.loginCancel{
    margin-bottom: 10px;
    background-color: grey;
}
.loginCancel a{
    color:#ffffff;
    text-decoration: none;
}

.nav-link{
    color:#ffffff;
}
.nav-link:hover{
    color:#ffffff;
    text-decoration: underline;
}
.navbarlogIn{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
a{
    font-size: 14px !important;
}
.saveFile{
    width: 250px !important;
    height: 200px !important;
}
.loginImg{
    width: 180px !important;
    height: 180px !important;
}
.saveFile2{
    width: 500px !important;
    height: 300px !important;
}
.card-text{
    text-align: start;
}

.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #007cff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.addButton:hover {
    filter: brightness(110%);
}
.addButton a{
    color: #ffffff;
    text-decoration: none;
}
.addButton a:hover{
    text-decoration: underline;
}




.imp{
    color:red;
}

#loginSuccess{
    color: green;
    font-size: 14px;
    height:15px;
    
}

#loginFailed, #loginMsg{
    color: red;
    font-size: 14px;
    height:15px;
    
}

.editButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #007cff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.editButton:hover {
    filter: brightness(110%);
}
.editButton a{
    color: #ffffff;
    text-decoration: none;
}
.editButton a:hover{
    text-decoration: underline;
}
.ok{    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #007cff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
}
.back{
    background-color: grey;  
}


.errorMsg{
    color:red;
    height: 20px;
    font-size: 14px;
}
.successMsg{
    color:green;
    height: 20px;
    font-size: 14px;
}